{% block body %}

<!-- Footer-->
<div class="fixed-bottom">
<footer class="py-5 bg-dark">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <ul>
                    <li>
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <div id="home-logo">
                                <i class="fas fa-home"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                    <div class="col-md-6 item text">
                        <ul>
                            <li>
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <div class="logout">
                                        <i class="fa fa-sign-out " aria-hidden="true"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <p class="m-0 text-white">Copyright &copy; ICI-Formations 2022</p>
    </div>
</footer>

</div>
{% endblock %}